
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CambiaContrasena.cshtml";
}


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <style>
        .error {
            color: red;
        }
    </style>
</head>

<div class="row my-tab-header ">
    <div class="col-md-12 text-center " style="padding:200px 0px 0px 0px;"></div>
</div>

<div class="container">
    <h5 class="card-title">Cambia tu contraseña</h5>
        <div class="card-body">
            <form action="" class="needs-validation" id="example" name="registration">
                <div class="card">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="col-md-12">
                                <div class="form-group row">

                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <label for="pwd">Nueva Contraseña</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="password" class="form-control" id="pass" name="pass">
                                        <div class="valid-feedback">Valid.</div>
                                        <div class="invalid-feedback">Please fill out this field.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <label for="pwd">Confirmar Nueva Contraseña</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="password" class="form-control" id="confirmPass" name="pass2">
                                        <div class="valid-feedback">Valid.</div>
                                        <div class="invalid-feedback">Please fill out this field.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <div class="col-md-4">
                                    </div>
                                    <div class="col-md-8">
                                        <input type="submit" name="btn" value="Cambiar" class="btn btn-lg btn-primary" id="btnUpdate" /><br /><br />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
<div class="modal" id="MyModalXyz">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal body -->
            <div class="modal-body">
                <p id="mensaje"></p>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">

                <button type="button" id="Change" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript">
    @*$("#btnUpdate").on("click", function () {
              $.ajax({
                    contentType: "application/json; charset=utf-8",
                    type: "POST",
                    url: "@Url.Action("UpdateUsuario", "CambiarContrasena")",
                  data: JSON.stringify({ usuario: $("#cEMail").val(), password: $("#NewPass").val() }),
                    success: function (data) {
                        $('#MyModalXyz').modal('show');
                        $('#mensaje').text(data);

                    }
                });
    });*@
    jQuery.extend(jQuery.validator.messages, {
        required: "Este campo es obligatorio.",
        remote: "Por favor, rellena este campo.",
        email: "Por favor, escribe una dirección de correo válida",
        url: "Por favor, escribe una URL válida.",
        date: "Por favor, escribe una fecha válida.",
        dateISO: "Por favor, escribe una fecha (ISO) válida.",
        number: "Por favor, escribe un número entero válido.",
        digits: "Por favor, escribe sólo dígitos.",
        creditcard: "Por favor, escribe un número de tarjeta válido.",
        equalTo: "Las contraseñas no coinciden.",
        accept: "Por favor, escribe un valor con una extensión aceptada.",
        maxlength: jQuery.validator.format("Por favor, no escribas más de {0} caracteres."),
        minlength: jQuery.validator.format("Por favor, no escribas menos de {0} caracteres."),
        rangelength: jQuery.validator.format("Por favor, escribe un valor entre {0} y {1} caracteres."),
        range: jQuery.validator.format("Por favor, escribe un valor entre {0} y {1}."),
        max: jQuery.validator.format("Por favor, escribe un valor menor o igual a {0}."),
        min: jQuery.validator.format("Por favor, escribe un valor mayor o igual a {0}.")
    });
    $("#Change").on("click", function () {
                                window.location.href = "@Url.Action("Index", "Login")";

    });


    $("#btnUpdate").on("click", function () {
        $("#example").validate({
            rules: {

                pass: {
                    required:true,
                    minlength: 6
                },
                pass2: {
                    required:true,
                    equalTo: "#pass"
                }

            },
            messages: {
                SelectName: { valueNotEquals: "Selecciona una opción por favor." }
            },
            submitHandler: function () {
                var str = $('#pass').val()

                if (!str.match(/^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])([a-zA-Z0-9]{8,12})$/)) {
                    alert("La contrase&ntilde;a debe de contener al menos un car&aacute;cter en may&uacute;sculas, uno en min&uacute;sculas, un n&uacute;mero y debe de medir por lo menos 8 caracteres y m&aacute;ximo 12.");
                    return false;
                }

                $.ajax({
                    contentType: "application/json; charset=utf-8",
                    type: "POST",
                    url: "@Url.Action("UpdateContrasena", "CambiarContrasena")",
                    data: JSON.stringify({ token: '@TempData["token"]', password: $("#pass").val() }),
                    success: function (data) {
                        $('#MyModalXyz').modal('show');
                        $('#mensaje').text(data);
                    }
                });
            }
        });
    });

</script>


