
@{
    Layout = "~/Views/Shared/_Admon.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inicio</title>
</head>
<body>
    <div class="row my-tab-header ">
        <div class="col-md-12 text-center " style="padding:200px 0px 0px 0px;"></div>
    </div>
    <div style="padding-top: 20px">
        <h5>B i e n v e n i d o                                  A d m i n i s t r a d o r . . .</h5>
    </div>
</body>
</html>
