<?xml version="1.0"?>
<configuration>
	<configSections>
	</configSections>
	<appSettings>
		<add key="logor3Take" value="C:\Inetpub\repositorioFacturaxion\logos\r3takeLogo.png"/>
		<add key="logoFacturaxion" value="C:\Inetpub\repositorioFacturaxion\logos\facturaxionLogo.png"/>
		<add key="rsaUnlockCode" value="HUMBERRSA_hCnkFUhz9Erd"/>
		<add key="emailUnlockCode" value="HUMBERMAILQ_o3GMKH3w7R2U"/>
		<add key="SharedAccesSignature" value="?st=2011-03-11T20%3A08%3A12Z|se=2012-03-11T20%3A08%3A12Z|sr=c|si=WriteOnlyYearly|sig=PMPgQE%2BDc4sN5KC1B%2BSL1Euho4Y9%2FRy3U2P81ALYy%2FQ%3D"/>
		<add key="BlobStorageEndpoint" value="http://cfdiproduccionstorage.blob.core.windows.net/"/>
		<add key="ContainerName" value="fid080111867"/>
		<add key="directorioCfdi" value="C:\Inetpub\repositorioFacturaxion\cfdi\ProcesoEnvio\cfdis"/>
		<add key="directorioLog" value="C:\Inetpub\repositorioFacturaxion\cfdi\ProcesoEnvio\Logs"/>
		<add key="directorioAcuseEnviadas" value="C:\Inetpub\repositorioFacturaxion\cfdi\ProcesoEnvio\Acuses"/>
		<add key="directorioAcuseCanceladas" value="C:\Inetpub\repositorioFacturaxion\cfdi\ProcesoCancelacion\Acuses"/>
		<add key="directorioEnviados" value="C:\Inetpub\repositorioFacturaxion\cfdi\ProcesoEnvio\Enviados"/>
		<add key="r3TakeSeed" value="f4ctur4x10n_r3t4k3_533D5"/>
		<add key="RutaRepositorioCompartido" value="C:\repositorio\repositorio\"/>
		<add key="sharedDirectory" value="C:\repositorio\compartido\"/>
		<add key="schemaSATFiles" value="C:\Inetpub\repositorio\schema"/>
		<add key="rutaDocs" value="C:\Inetpub\repositorioFacturaxion\cfdi\"/>
		<add key="rutaDocsExterna" value="https://fx.facturaxion.com/repositorioFacturaxion/cfdi/"/>
		<add key="urlTimbrado" value="http://200.57.178.65:123/timbra"/>
		<!--<add key="urlTimbrado" value="http://21.21.104.71:465/timbra"/>-->
		<add key="Provider1" value="SQLServerClient"/>
		<add key="Provider2" value="OracleClient"/>
		<add key="Provider3" value="SQLServerOleDB"/>
		<add key="Provider4" value="OracleOleDB"/>
		<add key="Provider5" value="SQLServerODBC"/>
		<add key="Provider6" value="OracleODBC"/>
		<add key="DS_r3" value="1#Data Source=200.57.178.65,6000;Initial Catalog=r3TakeCore;User Id=core;Password=r3T4k34ppUs3r;Application Name=Core;"/>
		<add key="DS_FE" value="1#Data Source=200.57.178.65,6000;Initial Catalog=FacturaxionPruebas;User Id=core;Password=r3T4k34ppUs3r;Application Name=Core;"/>
		<add key="DS_VC" value="1#Data Source=200.57.178.65,6000;Initial Catalog=validaCarga;User Id=validaCarga;Password=v4l1d4C4rg4Pr0dr3T4k3;Application Name=Core;"/>
		<add key="DS_r3_MIT" value="1#Data Source=21.21.104.62;Initial Catalog=r3Take;User Id=core;Password=r3T4k34ppUs3r;Application Name=Core;"/>
		<add key="DS_FE_MIT" value="1#Data Source=21.21.104.62;Initial Catalog=r3TakeDBFacturaxion;User Id=core;Password=r3T4k34ppUs3r;Application Name=Core;"/>
		<!--<add key="DS_FE" value="1#Data Source=200.57.178.65,6000;Initial Catalog=Facturaxion;User Id=core;Password=r3T4k34ppUs3r;Application Name=Core;"/>-->
		<!--<add key="DS_LCO" value="1#Data Source=21.21.104.80;Initial Catalog=LCO;User Id=sa;Password=sanzon;Application Name=Core;"/>
    <add key="DS_r3" value="1#Data Source=21.21.104.62;Initial Catalog=r3TakeCore;User Id=core;Password=r3T4k34ppUs3r;Application Name=Core;"/>
    <add key="DS_FE" value="1#Data Source=21.21.104.62;Initial Catalog=Facturaxion;User Id=core;Password=r3T4k34ppUs3r;Application Name=Core;"/>-->
		<add key="DS_r3_MIT" value="1#Data Source=200.57.178.65,6000;Initial Catalog=r3Take;User Id=core;Password=r3T4k34ppUs3r;Application Name=Core;"/>
		<add key="DS_FE_MIT" value="1#Data Source=200.57.178.65,6000;Initial Catalog=r3TakeDBFacturaxion;User Id=core;Password=r3T4k34ppUs3r;Application Name=Core;"/>
		<add key="rutaLlaves" value="C:\Inetpub\repositorio\llaves\"/>
		<add key="rutaXSLTV2" value="C:\Inetpub\repositorio\cfd\cadorg2.xslt"/>
		<add key="rutaXSLTV3" value="C:\Inetpub\repositorio\cfd\cadorg3.xslt"/>
		<add key="rutaDocsMIT" value="C:\Inetpub\repositorio\cfd\"/>
		<add key="rutaDocsDummy" value="C:\Inetpub\repositorio\cfdDummy\"/>
		<add key="rutaDocsExternaMIT" value="http://fx.facturaxion.com/repositorio/cfd/"/>
		<add key="rutaDocsExternaDummy" value="http://fx.facturaxion.com/repositorio/cfdDummy/"/>
		<add key="rutaImagenesPreconfiguracion" value="C:\Inetpub\repositorio\imagenesFacturaPreconfiguracion\"/>
		<add key="rutaImagenesFacturaInit" value="C:\Inetpub\repositorio\imagesFacturaInit\"/>
		<add key="rutaImagenesFacturaInitMIT" value="C:\Inetpub\repositorio\imagenesFacturaInitMIT\"/>
		<add key="rutaImagenes" value="C:\Inetpub\repositorio\imagenesFactura\"/>
		<add key="filesTMP" value="C:\inetpub\repositorioFacturaxion\filesTMP\"/>
		<add key="filesLogo" value="C:\Inetpub\repositorioFacturaxion\imagenesLogoSuc\"/>
		<add key="filesLlaves" value="C:\inetpub\repositorioFacturaxion\llaves\"/>
		<add key="mx.com.eatandpay.www.factelectronica" value="http://www.eatandpay.com.mx/facturaelectronica/services/factelectronica"/>
		<add key="mx.com.mitec.dev.factelectronica" value="https://dev.mitec.com.mx/facturaelectronica/services/factelectronica"/>
	<add key="com.facturaxion.fx.wsRepresentacionImpresa" value="https://fx.facturaxion.com/wsRepresentacionImpresa/wsRepresentacionImpresa.asmx"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
	<location path="uploadConfigFact.ashx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="uploadHandler.ashx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="gateway.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<system.web>
		<sessionState timeout="32"></sessionState>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Messaging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
			</assemblies>
		</compilation>
		<httpModules>
			<add name="FluorineGateway" type="FluorineFx.FluorineGateway,FluorineFx"/>
		</httpModules>
	</system.web>
	<system.diagnostics>
		<trace autoflush="true"/>
		<sources>
			<source name="System.ServiceModel.MessageLogging">
				<listeners>
					<add name="messages" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\CFDI\messages.svclog"/>
				</listeners>
			</source>
		</sources>
	</system.diagnostics>
	<system.serviceModel>
		<behaviors>
			<endpointBehaviors>
				<behavior name="certBehaviorPAC">
					<clientCredentials>
						<clientCertificate findValue="ef 07 5f 9d 58 83 b3 06 04 35 fe 81 82 6c af 36 af 6f 5c 7c" x509FindType="FindByThumbprint" storeLocation="CurrentUser" storeName="My"/>
						<serviceCertificate>
							<defaultCertificate findValue="de 44 db c1 fd f8 a3 df f1 3e 11 35 af 5a 62 9d fa cc 81 82" x509FindType="FindByThumbprint" storeLocation="CurrentUser" storeName="My"/>
							<authentication trustedStoreLocation="LocalMachine" certificateValidationMode="None" revocationMode="NoCheck"/>
						</serviceCertificate>
					</clientCredentials>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IAutenticacion" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<security mode="TransportWithMessageCredential">
						<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="Certificate" algorithmSuite="Default"/>
					</security>
				</binding>
				<binding name="BasicHttpBinding_IAutenticacion1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<security mode="TransportWithMessageCredential">
						<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="Certificate" algorithmSuite="Default"/>
					</security>
				</binding>
				<binding name="BasicHttpBinding_IRecibeCFDIService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<security mode="Transport">
						<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="UserName" algorithmSuite="Default"/>
					</security>
				</binding>
				<binding name="BasicHttpBinding_ICancelaCFDBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<security mode="Transport">
						<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="UserName" algorithmSuite="Default"/>
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="https://recepcion.facturaelectronica.sat.gob.mx/seguridad/Autenticacion.svc" behaviorConfiguration="certBehaviorPAC" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAutenticacion" contract="wsSat.ServicioAutenticacionRecepcionCFDI.IAutenticacion" name="BasicHttpBinding_IAutenticacion"/>
			<endpoint address="https://recepcion.facturaelectronica.sat.gob.mx/Recepcion/RecibeCFDIService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRecibeCFDIService" contract="wsSat.ServicioRecepcionCFDI.IRecibeCFDIService" name="BasicHttpBinding_IRecibeCFDIService"/>
			<endpoint address="https://cancelacion.facturaelectronica.sat.gob.mx/Cancelacion/CancelaCFDService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICancelaCFDBinding" contract="wsSat.ServicioCancelacionCFDI.ICancelaCFDBinding" name="BasicHttpBinding_ICancelaCFDBinding"/>
			<endpoint address="https://cancelacion.facturaelectronica.sat.gob.mx/Autenticacion/Autenticacion.svc" behaviorConfiguration="certBehaviorPAC" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAutenticacion1" contract="wsSat.ServicioAutenticacionCancelacionCFDI.IAutenticacion" name="BasicHttpBinding_IAutenticacion1"/>
		</client>
	</system.serviceModel>
</configuration>
